<a href="https://colab.research.google.com/github/lcbjrrr/quantai/blob/main/J_Data_Ana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
versioninfo()

Julia Version 1.10.8
Commit 4c16ff44be8 (2025-01-22 10:06 UTC)
Build Info:
  Official https://julialang.org/ release
Platform Info:
  OS: Linux (x86_64-linux-gnu)
  CPU: 2 × Intel(R) Xeon(R) CPU @ 2.20GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-15.0.7 (ORCJIT, broadwell)
Threads: 2 default, 0 interactive, 1 GC (on 2 virtual cores)
Environment:
  LD_LIBRARY_PATH = /usr/local/nvidia/lib:/usr/local/nvidia/lib64
  JULIA_NUM_THREADS = 2

# Data Analysis and Summarization

In [1]:
import Pkg
Pkg.add("CSV")
Pkg.add("DataFrames")
Pkg.add("Statistics")

using CSV
using DataFrames
using Statistics

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
    Updating `~/.julia/environments/v1.10/Project.toml`
  [10745b16] + Statistics v1.10.0
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`

In [3]:
;wget https://raw.githubusercontent.com/lcbjrrr/quantai/refs/heads/main/datasets/autoinsurance.csv

--2025-03-14 17:15:00--  https://raw.githubusercontent.com/lcbjrrr/quantai/refs/heads/main/datasets/autoinsurance.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4669 (4.6K) [text/plain]
Saving to: ‘autoinsurance.csv’

     0K ....                                                  100% 22.0M=0s

2025-03-14 17:15:01 (22.0 MB/s) - ‘autoinsurance.csv’ saved [4669/4669]

In [4]:
#read csv
auto=CSV.read("autoinsurance.csv", DataFrame)
print(auto)

50×12 DataFrame
 Row │ us_state  state           capital         pricelevel  Y2021  Y2022  Y2023  pop         lat      lon        Region     Division
     │ String3   String15        String15        String1     Int64  Int64  Int64  String15    Float64  Float64    String15   String31
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ MI        Michigan        Lansing         E            5740   4386   2352  10,077,331  42.7336   -84.5553  Midwest    East North Central
   2 │ RI        Rhode Island    Providence      E            1375   1197   1200  1,097,379   41.8309   -71.415   Northeast  New England
   3 │ NV        Nevada          Carson City     E            1033   1138   1164  3,104,614   39.1639  -119.766   West       Mountain
   4 │ FL        Florida         Tallahassee     E            2361   2072   1092  21,538,187  30.4381   -84.2813  South      South Atlantic
   5 │ NJ        New Jersey      Trenton         E             812    979   1032  9,288,994   40.2206   -74.7699  Northeast  Middle Atlantic
   6 │ DE        Delaware        Dover           E            1200   1183   1008  989,948     39.1573   -75.5197  South      South Atlantic
   7 │ CT        Connecticut     Hartford        H            1165   1041    960  3,605,944   41.764    -72.6822  Northeast  New England
   8 │ OR        Oregon          Salem           H            1050    996    948  4,237,256   44.9385  -123.03    West       Pacific
   9 │ NY        New York        Albany          H            1373   1085    924  20,201,249  42.6528   -73.7579  Northeast  Middle Atlantic
  10 │ MD        Maryland        Annapolis       H            1081   1044    900  6,177,224   38.9788   -76.4909  South      South Atlantic
  11 │ KY        Kentucky        Frankfort       H            1549   1027    876  4,505,836   38.1867   -84.8754  South      East South Central
  12 │ LA        Louisiana       Baton Rouge     H            1128   1002    876  4,657,757   30.4571   -91.1874  South      West South Central
  13 │ UT        Utah            Salt Lake City  M             909    793    792  3,271,616   40.7775  -111.888   West       Mountain
  14 │ AZ        Arizona         Phoenix         M            1234    902    768  7,151,502   33.4481  -112.097   West       Mountain
  15 │ MA        Massachusetts   Boston          M             721    784    732  7,029,917   42.3582   -71.0637  Northeast  New England
  16 │ IL        Illinois        Springfield     M             854    717    720  12,812,508  39.7984   -89.655   Midwest    East North Central
  17 │ SC        South Carolina  Columbia        M             939    752    720  5,118,425   34.0003   -81.0332  South      South Atlantic
  18 │ CO        Colorado        Denver          M             865    791    720  5,773,714   39.7392  -104.985   West       Mountain
  19 │ HI        Hawaii          Honolulu        M             644    637    684  1,455,271   21.3074  -157.857   West       Pacific
  20 │ MN        Minnesota       Saint Paul      M            1043    721    684  5,706,494   44.9551   -93.1022  Midwest    West North Central
  21 │ MO        Missouri        Jefferson City  M             690    648    672  6,154,913   38.5792   -92.1729  Midwest    West North Central
  22 │ NH        New Hampshire   Concord         M             745    598    648  1,377,529   43.2069   -71.538   Northeast  New England
  23 │ WA        Washington      Olympia         M             569    593    636  7,705,281   47.0358  -122.905   West       Pacific
  24 │ GA        Georgia         Atlanta         M             683    727    624  10,711,908  33.749    -84.3882  South      South Atlantic
  25 │ CA        California      Sacramento      M             614    613    600  39,538,223  38.5767  -121.494   West       Pacific
  26 │ VA        Virginia        Richmond        M             618    555    600  8,631,393   37.5389   -77.4336  South      South Atlantic
  27 │ OK        Oklahoma        Oklahoma City   M             611    584    600  3,959,353   35.4922   -97.5033  South      West South Central
  28 │ AL        Alabama         Montgomery      M             669    641    600  5,024,279   32.3777   -86.3006  South      East South Central
  29 │ WV        West Virginia   Charleston      M             627    650    600  1,793,716   38.3362   -81.6123  South      South Atlantic
  30 │ TX        Texas           Austin          M             926    666    576  29,145,505  30.2747   -97.7403  South      West South Central
  31 │ NC        North Carolina  Raleigh         M             445    492    552  10,439,388  35.7804   -78.6391  South      South Atlantic
  32 │ MS        Mississippi     Jackson         M             734    657    540  2,961,279   32.3038   -90.1821  South      East South Central
  33 │ NM        New Mexico      Santa Fe        M             570    550    540  2,117,522   35.6822  -105.94    West       Mountain
  34 │ AR        Arkansas        Little Rock     M             554    556    540  3,011,524   34.7466   -92.289   South      West South Central
  35 │ KS        Kansas          Topeka          L             583    549    492  2,937,880   39.0482   -95.678   Midwest    West North Central
  36 │ OH        Ohio            Columbus        L             528    482    492  11,799,448  39.9613   -82.9991  Midwest    East North Central
  37 │ AK        Alaska          Juneau          L             491    492    492  733,391     58.3016  -134.42    West       Pacific
  38 │ NE        Nebraska        Lincoln         L             487    552    480  1,961,504   40.8081   -96.6997  Midwest    West North Central
  39 │ IN        Indiana         Indianapolis    L             488    489    480  6,785,528   39.7686   -86.1626  Midwest    East North Central
  40 │ PA        Pennsylvania    Harrisburg      L             587    497    480  13,002,700  40.2644   -76.8836  Northeast  Middle Atlantic
  41 │ ME        Maine           Augusta         L             445    452    468  1,362,359   44.3072   -69.7817  Northeast  New England
  42 │ TN        Tennessee       Nashville       L             509    514    444  6,910,840   36.1658   -86.7842  South      East South Central
  43 │ MT        Montana         Helena          L             466    502    444  1,084,225   46.5857  -112.018   West       Mountain
  44 │ WI        Wisconsin       Madison         L             515    396    432  5,893,718   43.0747   -89.3844  Midwest    East North Central
  45 │ ND        North Dakota    Bismarck        L             512    422    408  779,094     46.8209  -100.783   Midwest    West North Central
  46 │ IA        Iowa            Des Moines      L             408    382    408  3,190,369   41.5911   -93.6037  Midwest    West North Central
  47 │ ID        Idaho           Boise           L             559    428    408  1,839,106   43.6178  -116.2     West       Mountain
  48 │ VT        Vermont         Montpelier      L             535    474    384  643,077     44.2624   -72.5805  Northeast  New England
  49 │ WY        Wyoming         Cheyenne        L             410    422    372  576,851     41.1403  -104.82    West       Mountain
  50 │ SD        South Dakota    Pierre          L             424    387    336  886,667     44.367   -100.346   Midwest    West North Central

In [7]:
#select column
auto.Y2023

50-element Vector{Int64}:
 2352
 1200
 1164
 1092
 1032
 1008
  960
  948
  924
  900
  876
  876
  792
    ⋮
  480
  480
  468
  444
  444
  432
  408
  408
  408
  384
  372
  336

In [8]:
#select columns
auto[:,[:Y2023,:Y2022]]

50×2 DataFrame
 Row │ Y2023  Y2022
     │ Int64  Int64
─────┼──────────────
   1 │  2352   4386
   2 │  1200   1197
   3 │  1164   1138
   4 │  1092   2072
   5 │  1032    979
   6 │  1008   1183
   7 │   960   1041
   8 │   948    996
   9 │   924   1085
  10 │   900   1044
  11 │   876   1027
  ⋮  │   ⋮      ⋮
  41 │   468    452
  42 │   444    514
  43 │   444    502
  44 │   432    396
  45 │   408    422
  46 │   408    382
  47 │   408    428
  48 │   384    474
  49 │   372    422
  50 │   336    387
     29 rows omitted

In [9]:
#filter rows
filter(:Y2023 => >=(999), auto)

6×12 DataFrame
 Row │ us_state  state         capital      pricelevel  Y2021  Y2022  Y2023  pop         lat       ⋯
     │ String3   String15      String15     String1     Int64  Int64  Int64  String15    Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────
   1 │ MI        Michigan      Lansing      E            5740   4386   2352  10,077,331  42.7336   ⋯
   2 │ RI        Rhode Island  Providence   E            1375   1197   1200  1,097,379   41.8309
   3 │ NV        Nevada        Carson City  E            1033   1138   1164  3,104,614   39.1639
   4 │ FL        Florida       Tallahassee  E            2361   2072   1092  21,538,187  30.4381
   5 │ NJ        New Jersey    Trenton      E             812    979   1032  9,288,994   40.2206   ⋯
   6 │ DE        Delaware      Dover        E            1200   1183   1008  989,948     39.1573
                                                                                   3 columns omitted

In [11]:
#head
first(auto,2)

2×12 DataFrame
 Row │ us_state  state         capital     pricelevel  Y2021  Y2022  Y2023  pop         lat      l ⋯
     │ String3   String15      String15    String1     Int64  Int64  Int64  String15    Float64  F ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────
   1 │ MI        Michigan      Lansing     E            5740   4386   2352  10,077,331  42.7336  - ⋯
   2 │ RI        Rhode Island  Providence  E            1375   1197   1200  1,097,379   41.8309  -
                                                                                   3 columns omitted

In [12]:
#tail
last(auto,1)

1×12 DataFrame
 Row │ us_state  state         capital   pricelevel  Y2021  Y2022  Y2023  pop       lat      lon   ⋯
     │ String3   String15      String15  String1     Int64  Int64  Int64  String15  Float64  Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────
   1 │ SD        South Dakota  Pierre    L             424    387    336  886,667    44.367  -100. ⋯
                                                                                   3 columns omitted

## Summarization (Consolidation)

In [14]:
# Summarize: group by a categorical, and calculate mean on a numerical
combine(groupby(auto, :Region), :Y2023=> mean)

4×2 DataFrame
 Row │ Region     Y2023_mean
     │ String15   Float64
─────┼───────────────────────
   1 │ Midwest       663.0
   2 │ Northeast     758.667
   3 │ West          659.077
   4 │ South         696.75